@charset "UTF-8";

.header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border : 1px solid black;
}

.mainList {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    height: 600px;
}

.navBar {
    color: white;
    padding: 10px;
    text-align: center;
}