@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    *{
      font-family: "Noto Sans KR", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
h2{
	text-align: center;
}

table{
	border: 1px solid black;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	width: 300px;
}

.menu td{
	background-color: #c0c0c0;
}

td{
	border: 1px solid black;
}

.main{
	width: 500px;
	height: 150px;
	border: 1px solid black;
	margin: 0 auto;
	text-align: center;
}